@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter,sans-serif;
}

html{
scroll-behavior:smooth;
}

body{

background:#050505;
color:white;
overflow-x:hidden;

background-image:
radial-gradient(circle at 20% 20%,rgba(212,175,55,.18),transparent 30%),
radial-gradient(circle at 80% 10%,rgba(212,175,55,.12),transparent 35%),
radial-gradient(circle at 50% 100%,rgba(212,175,55,.10),transparent 40%);

}

body::before{

content:"";

position:fixed;

left:0;
top:0;

width:100%;
height:100%;

background:
linear-gradient(rgba(255,255,255,.02) 1px,transparent 1px),
linear-gradient(90deg,rgba(255,255,255,.02) 1px,transparent 1px);

background-size:60px 60px;

pointer-events:none;

z-index:-2;

}

body::after{

content:"";

position:fixed;

left:-200px;
top:-200px;

width:500px;
height:500px;

background:#D4AF37;

filter:blur(180px);

opacity:.10;

animation:floatGlow 8s ease-in-out infinite;

z-index:-1;

}

@keyframes floatGlow{

0%{
transform:translateY(0px);
}

50%{
transform:translateY(60px);
}

100%{
transform:translateY(0px);
}

}

section{

padding:100px 40px;

}

.card{

background:rgba(255,255,255,.04);

backdrop-filter:blur(18px);

border:1px solid rgba(212,175,55,.15);

border-radius:24px;

padding:30px;

transition:.35s;

box-shadow:

0 0 40px rgba(212,175,55,.05);

}

.card:hover{

transform:translateY(-8px);

border-color:#D4AF37;

box-shadow:

0 0 50px rgba(212,175,55,.20);

}

button{

cursor:pointer;

transition:.3s;

}

.btn-primary{

background:#D4AF37;

color:black;

border:none;

padding:16px 28px;

border-radius:14px;

font-weight:700;

font-size:16px;

}

.btn-primary:hover{

background:#F4C542;

transform:translateY(-3px);

box-shadow:

0 0 35px rgba(212,175,55,.4);

}

input{

width:100%;

padding:16px;

border-radius:14px;

background:#111;

border:1px solid #2a2a2a;

color:white;

font-size:16px;

outline:none;

transition:.25s;

}

input:focus{

border-color:#D4AF37;

box-shadow:0 0 20px rgba(212,175,55,.15);

}

h1{

font-size:72px;

font-weight:800;

}

h2{

font-size:38px;

margin-bottom:15px;

}

a{
color:#bbb;
text-decoration:none;
transition:.3s;
font-weight:600;
}

a:hover{
color:#D4AF37;
}

p{

color:#B8B8B8;

line-height:1.8;

}

::-webkit-scrollbar{

width:8px;

}

::-webkit-scrollbar-thumb{

background:#D4AF37;

border-radius:20px;

}

::-webkit-scrollbar-track{

background:#111;

}